<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Accommodation</h1>
            <p>
                Taplow House Hotel is able to offer guests rooms of varying sizes to accommodate your needs on the night of our Wedding. All rooms are offered at the hotel’s preferred rate, and details of the accommodation available can be found below.
            We really would like as many of you as possible to stay at the hotel, so that you can join us for breakfast Sunday morning. It would be lovely to catch-up with you one last time before we jet off on our honeymoon. We hope you will be able to stay!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3>Rooms</h3>
            <p>Taplow House has the following rooms available for guests on the Saturday night:</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Room Type</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Single</td>
                        <td>&pound;89</td>
                    </tr>
                    <tr>
                        <td>Twin</td>
                        <td>&pound;89</td>
                    </tr>
                    <tr>
                        <td>Double</td>
                        <td>&pound;89</td>
                    </tr>
                    <tr>
                        <td>Junior Suite</td>
                        <td>&pound;185</td>
                    </tr>
                </tbody>
            </table>
            <p>Limited rooms are available with cot facilities for families with children. Some rooms also have single or double sofas.</p>

        </div>
        <img class="span6 img-rounded" src="/img/taplowe.jpg" />
    </div>
    <div class="row">
        <div class="span12">
            <h3>Breakfast</h3>
            <p>Breakfast is included in the price of all rooms.</p>

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Check-In / Out</h3>
            <p>Check-in on Saturday 20th July is from 14:00. We would recommend that guests check-in between 14:00 and 15:00, whilst the Drinks Reception is in progress.</p>
            <p>Check-out on Sunday 21st July is by 11:00.</p>

        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Payment</h3>
            <p>Rooms can be paid for in full on departure on Sunday 21st July. No deposit is required in advance.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Additional Beds</h3>
            <p>An additional bed can be set-up in some rooms if required. Please be aware that use of these will incur an additional charge of £20 per night to cover bedding and breakfast.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>How to Book</h3>
            <p>If you would like to book a room, you may request this when you RSVP online. Alternatively, if you have already RSVP’d online (without requesting a room), or RSVP’d by post, you can book via our Contact Us page. </p>
            <p>When requesting your room, please let us know the number of guests and type of room required. Please also let us know if you require a cot.</p>
            <p>We would kindly ask that you do not book your room via the hotel directly.</p>
            <p>We will be allocating guests to rooms so that we can group people’s rooms together appropriately (e.g. families who may require baby-sitting duties!). We will then pass the room allocations to the Reservation Team at Taplow House. Hence, please advise if you require a room no later than 25th May, so we can notify the hotel in advance. </p>
        </div>
    </div>
</div>
