<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Date</h1>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <p>Our wedding is being held at 1pm on Saturday 20th July 2013, at </p>
            <address class="well">
                Taplow House Hotel<br />
                Berry Hill,<br />
                Taplow,<br />
                Buckinghamshire,<br />
                SL6 0DA<br />
            </address>
            <p>We look forward to seeing you there!</p>
            <p>More information about Taplow House can be found on our Venue and Accommodation pages.</p>
        </div>
        <img class="span8 img-rounded" src="/img/Date.jpg" />
    </div>
</div>
