<div class="container">
    <div class="row">
        <div class="span8">
            <h1>Gift List</h1>
            <p>Having you at our Wedding is the most important thing to us and we do not expect gifts. However, if you would like to give us something to mark the occasion, then it would be greatly appreciated.</p>
            <p>As we have lived together for some time, we have everything we need (and sadly very little space for anything else!). Therefore, a donation towards our dream honeymoon would be greatly appreciated.  We hope you will not be offended by this.</p>

            <p>We have set up a giftlist for our honeymoon at John Lewis, which can be accessed at <a href="http://www.johnlewisgiftlist.com" target="_blank">www.johnlewisgiftlist.com</a>, in store, or via telephone on 0845 600 2202:</p>
            <p>Gift list number – 533831</p>
            <p>Our giftlist opens on 8th June 2013 for eight weeks.</p>

            <p>Thank you.</p>
            <p>Love, </p>
            <p>Mark and Julia x</p>
        </div>
        <img class="span4 img-rounded" src="/img/GiftList.jpg" />
    </div>
</div>
