<div class="container">
    <div class="row">
        <div class="span10 offset1">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item"><img class="img-rounded" src="/img/Gallery/100_2484.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/563418_10150885983840773_998170756_n.jpg" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/CIMG0553.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/CIMG0624.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/CIMG0646.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/CIMG0840.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/CIMG1709.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/IMG_0681.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/P1010909.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/P1010960.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/P11-12-09_21.52.JPG" /></div>
                    <div class="item"><img class="img-rounded" src="/img/Gallery/P21-01-10_23.00.JPG" /></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>
    </div>
</div>
