<div class="container">
    <div class="row">
        <div class="span12">
            <h1>Venue</h1>
        </div>
    </div>
    <div class="row">
        <div class="span12">
        <img class="span8 img-rounded pull-right" src="/img/Venue.jpg" />
            <h3>History</h3>
            <p>Taplow House Hotel is a beautiful Georgian property, dating back to 1751, and was used as a private residence until 1958. The original house, an Elizabethan manor, was actually built in 1598 but sadly it was completely destroyed by a fire in 1660. Hence, the current property was later built in its place. </p>
            <p>Taplow House has a diverse and interesting history. The property has changed hands numerous times over the years, and previous owners comprise royalty, noblemen and MPs.  Former owners include James I, Pascoe Grenfell (MP for Great Marlow and Penrhyn in the late 1700s), and the Marquess of Thomond.</p>
            <h3>Location</h3>
            <p>Nestled in the small village of Taplow on the border between Berkshire and Buckinghamshire, Taplow House is a tranquil sanctuary, perfect for relaxing. It is a mere 10 minutes from the Historic town of Windsor, if you wish to visit. Also, the hotel is only 15 minutes from Heathrow Airport, for those of you flying into the UK for our celebrations.</p>
            <p>The Hotel is situated in 6 acres of lovely gardens. The grounds hold a number of wonderful trees, from the Cedar of Lebanon (planted around 1880) to Tulip trees. The Tulip trees are reputedly the tallest in Europe and are over 220 years old!</p>
            <p>When you enter Taplow House you will notice a theme to their room names, as they are based on the building’s history and location.</p>
            <p>To find out more about our Venue, please visit Taplow House Hotel’s website: <a href="http://www.taplowhouse.com/" target="_blank">http://www.taplowhouse.com/</a></p>
            <small>* Information taken from <a href="http://www.taplowhouse.com/" target="_blank">http://www.taplowhouse.com/</a></small>
        </div>
    </div>
</div>
