<!DOCTYPE html>
<html ng-app="MarkAndJulia">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="msvalidate.01" content="4DD2077F0E960261F7259E8362CC2EB6" />
	    <link href="~/css/app.min.css" rel="stylesheet" />
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.6/angular.min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
	    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script src="~/js/app.js"></script>
		@Html.Partial("GoogleTracking")
		<title>Mark and Julia</title>
	</head>
	<body data-spy="scroll" >
		@RenderBody()
	</body>
</html>